{% extends 'base.html' %}
{% block noti%}

{% if error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Oops! {{ error }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endblock noti%}




{% block content %}



<div class="container" id="formatica">


    <h1>Welcome to the Word Formatter. Enter your text below</h1>
    <form action='result' method='POST'>
        {% csrf_token %}

        <div class="form-group">
            <label for="mytextarea">Enter your text here and let Text Utils do the magic</label>
            <textarea class="form-control" name='text' id="mytextarea" rows="9"></textarea>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" name='lowercase'>
            <label class="custom-control-label" for="customSwitch1">lowercase</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2" name="uppercase">
            <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="removepunc">
            <label class="custom-control-label" for="customSwitch3">Remove Punctuations</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4" name="removeline">
            <label class="custom-control-label" for="customSwitch4">Remove Newline</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch5" name="trim">
            <label class="custom-control-label" for="customSwitch5">Trim Extra Spaces</label>
        </div>

        <button type='submit' class="btn-primary mt-4"> Format Text</button>
    </form>
</div>

{% endblock content %}

{% block foot %}
<footer>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <strong>Hii there!</strong> Follow me on <a href="https://github.com/jaychaturvedi">github</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</footer>

{% endblock foot%}